body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #4d4d4d;
}

th {
  padding: 12px;
  text-align: center;
}

td {
  padding: 12px;
  text-align: center;
}
.title {
  text-align: center;
}
